[database]
type      = "mysql"
username  = "username"
password  = "password"
port      = "3306"
host      = "localhost"
name      = "dbName"

[album]
source                 = "originals"
build                  = "generated"
cwd                    = "./pictures"
pics[]                 = "jpg"
pics[]                 = "jpeg"
format_thumb           = 100
format_medium          = 800
vids[]                 = "mpeg"
vids[]                 = "mpg"
vids[]                 = "avi"
baseUrl                = "[PROTOCOL]://[HOST]/pictures/"

[rest]
;controller/method = "METHOD/route"
pictures/get  = "GET/pics"

[Paginator]
limit = 10
