[database]
type      = "mysql"
username  = "username"
password  = "password"
port      = "3306"
host      = "localhost"
name      = "dbName"

[album]
folder    = "./pictures"
width     = 100
pics[]    = "jpg"
pics[]    = "jpeg"
vids[]    =  "mpeg"
vids[]    =  "mpg"
vids[]    =  "avi"
